<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/splitParse.js"></script>
  </head>
  <body>
    <button onclick="document.querySelector('.inputFile').click();">Select File ...</button>
    <input class="inputFile" type="file" style="display: none;">
    <button onclick="readxml(inputFile.value())">Run Script</button>
  </body>
</html>
